@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgb(123, 129, 135);
}


/* Creation of Margins*/

section.global {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Creation of the three sections*/

section.presentation {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 20px;
    margin: 20px 0px;

    text-align: center;

    min-width: 240px;
    max-width: 600px;
}

section.social-medias {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 20px;
    margin: 20px 0px;

    min-width: 240px;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.movies {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 20px;
    margin: 20px 0px;

    min-width: 240px;
    max-width: 600px;
}


/*Styling elements in the presentation section*/

section.presentation img {
    margin: 20px;
    border-radius: 100%;
    border: 3px solid rgb(215,215,215);
}

h1 {
    color: rgb(221, 85, 83);
    font-size: 30px;
    font-weight: 800;
}

section.presentation h2 {
    font-weight: 600;
    font-size: 25px;
}

section.presentation p {
    font-size: 18px;
    text-align: justify;
    margin: 15px;
}

a.button {
    background-color: rgb(221, 85, 83);
    color: white;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 600;

    transition: 0.5s;
}

a.button:hover {
    background-color: rgb(200, 50, 50);
}


/*Styling elements in the social medias section*/

section.social-medias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    list-style-type: none;

    padding: 20px;
}

section.social-medias li {
    padding: 0px 20px;
    font-size: 18px;
}

section.social-medias li a {
    text-decoration: none;
    color: rgb(123, 129, 135);
}

section.social-medias li a:hover {
    font-weight: 600;
}


/*Styling elements in the movies section*/

section.movies h2 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

section.movies section.movie-box {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

section.movies section.movie-box div.text {
    padding-left: 20px;
    font-size: 18px;
}


/*Responsive design*/

@media screen and (min-width: 640px) {

    section.global {
        margin-left: 0px;
        margin-right: 0px;
    }

    section.social-medias ul {
        display: flex;
        flex-direction: column;
    }
    
    section.social-medias li {
        margin: 30px;
    }

    section.movies section.movie-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.movies section.movie-box div.text {
        padding-left: 0px;
        text-align: justify;
        margin: 20px;
    }
}